body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Gilroy-Bold;
}

h1 {
	margin: 0;
	padding: 0;
}

.center {
	max-width: 1147px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-right: 337px; */
}

.header_logo_img {
	width: 35px;
	height: 40px;
	margin-right: 14px;
}

.header_logo_GrowBe {
	display: flex;
}

.header_grow {
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header_be {
	color: #F25822;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header_menu {
	display: flex;
	align-items: center;
	gap: 35px;
}

.header_line_home {
	text-decoration: none;
	color: #F25822;
	/* font-family: Gilroy-SemiBold; */
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header_line {
	text-decoration: none;
	color: #000;
	font-family: Gilroy-Medium;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.top {
	margin-top: 94px;
	display: flex;
	gap: 14.94px;
	justify-content: center;
}

.top_content {
	width: 589px;
	height: 494px;
	flex-shrink: 0;
	margin-top: 59px;
}

.top_content_title {
	color: #000;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.top_content_description {
	font-family: Gilroy-Medium;
	color: #888;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 17px;
	width: 500px;
}

.top_button {
	margin-top: 37px;
	display: flex;
	align-items: center;
	gap: 72px;
}

.top_button1 {
	width: 140px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 50px;
	background: #F25822;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
}

.top_button_txt {
	color: #AAA;
	font-size: 15px;
	font-weight: 400;
}

.top_info {
	width: 610.735px;
	height: 372.904px;
	flex-shrink: 0;
}

.images {
	width: 544.814px;
	height: 374.843px;
}

.logos {
	display: flex;
	justify-content: center;
	gap: 48px;
}

.log {
	width: 160px;
	height: 50px;
}

.third_block {
	display: flex;
	justify-content: space-between;
	/* gap: 30px; */
	margin-top: 100px;
	flex-shrink: 0;
}

.third_block_item {
	padding: 100px 0;
}

.third_block_item_icon {
	width: 70px;
	height: 70px;
	flex-shrink: 0;
}

.item_title {
	margin-top: 25px;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.item_text {
	margin-top: 17px;
	width: 310px;
	height: 42px;
	flex-shrink: 0;
	color: #666;
	font-family: Gilroy-Regular;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.item_text_bottom {
	margin-top: 25px;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

/* HW_5 */

.fourth_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	background: #FAFAFA;
}

.fourth_title {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.fourth_block_title {
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.fourth_block_description {
	color: #666;
	text-align: center;
	font-family: Gilroy-Regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 683px;
	margin-top: 19px;
}

.fourth_block_cards {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 55px;
	margin-bottom: 100px;
}

.fourth_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background: #FFF;
}

.card2 {
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.fourth_card:hover {
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.30);
}

.card_img {
	width: 385px;
	height: 289px;
	flex-shrink: 0;
}

.card_title {
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card_text {
	color: #AAA;
	text-align: center;
	font-family: Gilroy-Regular;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-top: 22px;
	max-width: 310px;
	/* 22.5px */
}

.card_batton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 39px;
	width: 150px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 50px;
	background: #F25822;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	gap: 6px;
}

.card_batton_txt {
	font-family: Gilroy-Bold;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}