/* @font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Light.ttf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-BoldItalic.ttf);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-BlackItalic.ttf);
	font-style: normal;
	font-weight: 900;
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: 'Lato';
}

h1 {
	margin: 0;
	padding: 0;
}

.center {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.center1140 {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: flex;
	align-items: center;
	background: #222;
	min-height: 75px;
	max-height: 75px;
}

.header_content {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.header_content_left {
	display: flex;
	align-items: center;
	gap: 859px;
}

.header_logos {
	display: flex;
	align-items: center;
	gap: 41px;

}

.header_buttons {
	display: flex;
	align-items: center;
	gap: 25px;
}

.intro {
	background: #f1e4e6;
}

.intro_top {
	display: flex;
	align-items: center;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	gap: 64px;
}

.intro_left {}

.left_img {}

.intro_right {
	display: flex;
	align-items: center;
	gap: 16px;
}

.intro_right_logo {}

.right-title {
	display: flex;
	flex-direction: column;
	max-width: 377px;
}

.right-title__title1 {
	color: #222;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.right-title__title2 {
	color: #222;
	font-size: 32px;
	font-weight: 700;
}

.right-title__title3 {
	color: #F16D7F;
	font-size: 32px;
	font-weight: 700;
}

/* offer */

.offer_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 65px;
}

.offer_card {
	position: relative;
}

.offer_card-image {
	width: 100%;
	height: 100%;
}

.offer-card__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 22, 22, 0.70);
}

.offer-card__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.offer_card_title_top {
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

.offer_card_title_bot {
	color: #F16D7F;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.cont4 {
	grid-column: span 3;
}

/* feature */

.feature {
	margin-top: 96px;
}

.feature_top_content {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 6px;
}

.top_content_title {
	color: #222;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.top_contend_txt {
	color: #9F9F9F;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_block_cards {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
	margin-top: 48px;
}

.block_card {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

.block_card-content_top {
	position: relative;
	display: flex;
	justify-content: center;
	width: 360px;
	height: 420px;
	background: #f7e4e2;
}

.block_card-content_top:hover::after {
	position: absolute;
	background-color: rgba(58, 56, 56, 0.86);
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 1;
}

.block_card-content_top:hover .card__batton {
	opacity: 1;
	z-index: 2;
}


.card__img {
	width: 100%;
	height: 100%;
}

.card__batton {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 11px;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 14px 16px;
	border: 0.5mm solid #FFF;
	cursor: pointer;
}

.card__batton-icon {}

.card__batton-text {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}





.block_card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	padding: 24px 16px;
	background-color: #F8F8F8;
}


.card_title {
	color: #000;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card_txt {
	color: #5D5D5D;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.card_price {
	color: #F16D7F;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_bot_contend {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 60px;
}

.bot_cont_border {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1mm solid #FF6A6A;
	width: 212px;
	height: 48px;
	flex-shrink: 0;
}

.bot_cont_title {
	color: #F26376;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* screen 768-1024. */

@media screen and (max-width: 1024px) {

	.center1140 {
		max-width: 1024px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.header_content {
		gap: 42px;
	}

	.header_content_left {
		gap: 424px;
	}

	.intro_top{
		justify-content: center;
	}

	.img1 {
		width: 386px;
		height: 368px;
	}

	.right-title__title1 {
		font-size: 44px;
	}

	.right-title__title2 {
		font-size: 24px;
	}

	.right-title__title3 {
		font-size: 24px;
	}

	.feature_block_cards {
		grid-template-columns: repeat(2, 1fr);
	}
	.block_card-content_top{
		width: 100%;
		height: 100%;
	}
}

/* screen 320-767. */

@media screen and (max-width: 767px) {
	.header {
		height: 74px;
	}

	.center1140 {
		max-width: 767px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.header_content_left {
		gap: 200px;
	}

	.intro {
		display: flex;
		align-items: center;
		width: 100vw;
		height: 363px;
		flex-shrink: 0;
	}

	.right-title__title1 {
		font-size: 38px;
	}

	.right-title__title2 {
		font-size: 20px;
	}

	.right-title__title3 {
		font-size: 20px;
	}

	.button2 {
		display: none;
	}

	.header_buttons-basket {
		display: none;
	}

	.intro_left {
		display: none;
	}

	.offer_cards {
		grid-template-columns: repeat(1, 1fr);
	}

	.cont4 {
		grid-column: span 1;
	}

	.feature_block_cards {
		grid-template-columns: repeat(1, 1fr);
	}
}