/* .icon:hover {
	fill: blue;
	cursor: pointer;
	transform: scale
}

.item {
	width: 150px;
	height: 86px;
	background-color: forestgreen;
	border: 1px solid #000;
	transition: transform 1s;
}

.item_1:hover {
	transform: translateX(50px);
}

.item_2:hover {
	transform: scale(0.5);
}

.item_3:hover {
	transform: rotate(60deg);
}

.button {
	width: 150px;
	height: 50px;
	background-color: purple;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: sans-serif;
	font-size: 18px;
}

.flip-2-hor-top-1:hover {
	-webkit-animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-2-hor-top-1 {
	0% {
		-webkit-transform: translateY(0) rotateX(0);
		transform: translateY(0) rotateX(0);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}

	100% {
		-webkit-transform: translateY(-100%) rotateX(-180deg);
		transform: translateY(-100%) rotateX(-180deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
}

@keyframes flip-2-hor-top-1 {
	0% {
		-webkit-transform: translateY(0) rotateX(0);
		transform: translateY(0) rotateX(0);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}

	100% {
		-webkit-transform: translateY(-100%) rotateX(-180deg);
		transform: translateY(-100%) rotateX(-180deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
} */

.content-second {
	margin-top: 200px;
	margin-left: 200px;
	position: relative;
}

.content-second__item {
	position: absolute;
	width: 150px;
	height: 60px;
	border: 1px solid #000;
	background-color: red;
}

.content-second__item+.item_1 {
	transform: rotate(0deg);
}

.content-second__item+.item_2 {
	transform: rotate(45deg);
}

.content-second__item+.item_3 {
	transform: rotate(90deg);
}

.content-second__item+.item_4 {
	transform: rotate(135deg);
}