@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold.ttf");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-ExtraBold.ttf");
	font-style: normal;
	font-weight: 800;
}

body {
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	background: var(--020-a-18, #020A18);
}

h1,
h2 {
	margin: 0;
	padding: 0;
}

.header {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	background-color: rgba(2, 10, 24, 0.8);
	/* 020b1b */
}

.header_line {
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.intro {
	margin-top: 160px;
	display: flex;
	gap: 128px;
}

.center {
	width: 1146px;
	margin-left: auto;
	margin-right: auto;
}

.intro_left_upper {
	color: #3A68B8;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
	text-transform: uppercase;
}



.intro_left_title {
	color: #FFF;
	font-size: 55px;
	font-style: normal;
	font-weight: 800;
	line-height: 130%;
	margin-top: 10px;
}

.intro_left_description {
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 160%;
	opacity: 0.7;
	margin-top: 40px;
	width: 558px;
}

.intro_button_wrapper {
	margin-top: 50px;
	gap: 20px;
	display: flex;
}

.intro_button {
	font-family: "Open Sans", sans-serif;
	padding: 15px 30px;
	border-radius: 5px;
	background: #3A68B8;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.button_withIcon {
	display: flex;
	gap: 10px;
	align-items: center;
}

.cards {
	width: 1146px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 197px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 68px;
	width: 1146px;
	margin-top: 256px;
	margin-left: auto;
	margin-right: auto;
}

.container_img {
	width: 594px;
	height: 548px;
}

.comtaineer_intro_h2 {
	width: 484px;
	color: var(--ffffff, #FFF);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	/* 52px */
}

.contaiher_intro_title {
	width: 460px;
	opacity: 0.7;
	margin-top: 30px;
	color: var(--ffffff, #FFF);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 160%;
	/* 25.6px */
}

.services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 264px;
}

.services_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	text-align: center;
	gap: 30px;
	border-radius: 10px;
	background: #132035;
}

.services_item-image {
	height: 98px;
	width: 103px;
}

.services_item-image-big {
	height: 306px;
	width: 322px;
}

.item-big {
	grid-column: span 2;
	grid-row: span 2;
}

.servises_item-title {
	color: var(--ffffff, #FFF);
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	line-height: 125%;
	opacity: 0.7;
}

.servises_item-desc {
	color: var(--ffffff, #FFF);
	font-size: 16px;
	font-weight: 600;
	line-height: 160%;
	opacity: 0.7;
}